.login-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

    
}
.login-buttons h3 {
    margin-bottom: 5px;
}
.login-buttons span {
    display: block; 
    margin-top: 5px;
}

.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 30px; /* Increase border-radius for rounded buttons */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-button img.button-icon {
    width: 20px; /* Keep the icon size the same */
    height: 20px;
}

.button-icon {
    width: 20px;
    height: 20px;
}

.google-login {
    width: 200px;
    height: 35px;
    text-align: center;
    background-color: #85c0d2;
    color: white;
}

.google-login:hover {
    background-color: #7aadbd;
    transform: scale(1.05);
}

.account-login {
  width: 200px;
    height: 35px;
    text-align: center;
    background-color: #45a049;
    color: white;
}

.account-login:hover {
    background-color: #4caf72a3;
    transform: scale(1.05);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed position to cover the entire viewport */
    z-index: 1000; /* Ensure it appears above all other elements */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  }
  
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    text-align: center;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
  }