<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
</head>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
</head>
<main id="dasboard-view">
    <div class="section-header">
        <h1 id="browseTitle">Approve Suggestions</h1>
    </div>
    <div id="suggestionList" class="suggestions-container"></div>
    <div style="text-align: center;">
        <button id="loadMoreSuggestionsBtn" class="btn btn-secondary hidden">
            Load More
        </button>
    </div>
</main>